<!DOCTYPE html>
<html lang="en">
{% csrf_token %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
    <link rel="icon" href="{% static 'assets/img/svg/greenhouse.svg' %}" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/svg/greenhouse.svg' %}">
</head>
<body>
    <header id="header">Mukundraj Nursery Customer Profile</header>
    <nav id="nav">
        <a href="#">Profile</a>
        <br>
        <a href="orders">Orders</a>
    </nav>
    <main id="main">
        {% if user.is_authenticated %}
            {% for pro in pros %}
                {% ifequal pro.first_name user.first_name %}
                    Address : {{pro.address}}
                    <br>
                    First Name : {{pro.first_name}}
                    Last Name : {{pro.last_name}}
                    <br>
                    Phone Number : {{pro.phone_number}}
                {% endifequal %}
            {% endfor %}
        {% endif %}
    </main>
    <footer id="footer">

      <div class="c1">
          <h5>Mukundraj High-Tech Nursery</h5>
          Shree Mukundraj High-Tech Nursery, Shalgaon.
          <br>
          Address:gdjgjidjkdnjkndjnjcnvj < GMAP IFRAME >
          <br>
      </div>

      <div class="c2">
            <h6>STORE</h6>
            <ul>
              <li><a href="#products"> Products </a></li>
              <li><a href="#sugarcane"> Sugarcane </a></li>
              <li><a href="#chilli"> Chilli </a></li>
              <li><a href="#brinjal"> Brinjal </a></li>
            </ul>
      </div>

      <div class="c3">
          <h6>SHOP</h6>
          <ul>
              <li><a href="login">Sign-in</a></li>
              <li><a href="signup">Sign-Up</a></li>
          </ul>
      </div>

      <div class="c4">
          <h6>ABOUT US</h6>
          <ul>
              <li><a href="about">About Us</a></li>
              <li><a href="about">Contact Us</a></li>
          </ul>
      </div>

  </footer>
    <p class="copyright">&copy; Copyrights Mukundraj Nursery. All rights reserved.</p>
</body>
</html>